package modificationspage

import "github.com/knackwurstking/pgpress/pkg/modification"

// TODO: A Generic modifications page template
templ Page[T any](m modification.Mods[T], f func(m *modification.Mod[T]) templ.Component) {
	<div class="flex flex-col gap">
		for _, mod := range m {
			@f(mod)
		}
	</div>
}
