package templates

import (
	"fmt"
	"github.com/knackwurstking/pg-press/internal/components"
	"github.com/knackwurstking/pg-press/internal/shared"
	"github.com/knackwurstking/pg-press/internal/urlb"
)

templ CyclesSection(oob bool, id shared.EntityID, isTool bool) {
	{{
		hxGet := ""
		if isTool {
			hxGet = string(urlb.UrlTool(id, 0, 0, 0).Cycles)
		} else {
			hxGet = string(urlb.UrlTool(0, id, 0, 0).Cycles)
		}
	}}
	@components.Section(templ.Attributes{
		"id":                        "cycles-section",
		"hx-get":                    hxGet,
		"hx-trigger":                "load, pageLoaded from:body",
		"hx-swap":                   "innerHTML",
		"hx-swap-oob":               fmt.Sprintf("%t", oob),
		"hx-on:htmx:response-error": "alert(event.detail.xhr.responseText)",
	}) {
		@components.Spinner()
	}
}

type CyclesSectionContentProps struct {
	Tool                shared.ModelTool
	ToolCycles          []*shared.Cycle
	ActivePressNumber   shared.PressNumber
	CassettesForBinding []*shared.Cassette
	Regenerations       []*shared.ToolRegeneration
	User                *shared.User
}

templ CyclesSectionContent(p CyclesSectionContentProps) {
	@components.SectionTitle(components.SectionTitleLevelMain, "Werkzeugnutzung & Zyklen")
	<div class="flex flex-col gap">
		@components.Section(templ.Attributes{
			"id": "tool-status-section",
		}) {
			@components.SectionTitle(components.SectionTitleLevelSub, "Aktueller Status")
			@toolStatus(p.Tool, p.CassettesForBinding, p.ActivePressNumber, p.User)
		}
		// For now tool cycles for top cassette tools are ignored
		@regenerations(p.Regenerations, p.User)
		{{
			var lastRegeneration *shared.ToolRegeneration
			if len(p.Regenerations) > 0 {
				lastRegeneration = p.Regenerations[0]
			}
		}}
		@cyclesTable(p.Tool, p.ToolCycles, lastRegeneration, p.User)
	</div>
}

templ toolStatus(tool shared.ModelTool, cassettesForBinding []*shared.Cassette, activePressNumber shared.PressNumber, user *shared.User) {
	<div class="flex flex-col gap">
		<span class="flex gap-lg">
			@RegenerationEdit(RegenerationEditProps{
				Tool:              tool,
				ActivePressNumber: activePressNumber,
				Editable:          false,
				UserHasPermission: user.IsAdmin(),
			})
			if activePressNumber.IsValid() {
				<a
					role="button"
					class="small ghost flex gap"
					href={ urlb.UrlPress(activePressNumber).Page }
					title="Zur Pressenübersicht"
				>
					<i class="bi bi-arrow-right"></i>
					Presse { fmt.Sprintf("%d", activePressNumber) }
				</a>
			}
		</span>
		if !tool.IsCassette() && tool.GetBase().Position == shared.SlotUpper {
			@BindingSection(BindingSectionProps{
				Tool:                tool.(*shared.Tool),
				CassettesForBinding: cassettesForBinding,
				IsAdmin:             user.IsAdmin(),
			})
		}
	</div>
}

templ regenerations(regenerations []*shared.ToolRegeneration, u *shared.User) {
	@components.Section(templ.Attributes{
		"id": "regenerations-section",
	}) {
		@components.SectionTitle(components.SectionTitleLevelSub, "Regenerationen")
		if len(regenerations) == 0 {
			<span class="flex justify-center items-center">
				<i><small>Keine Regenerationen verzeichnet für dieses Werkzeug</small></i>
			</span>
		} else {
			<figure class="w-full overflow-x-scroll">
				<table title="Regenerationen">
					<thead>
						<tr>
							<th name="start">Start</th>
							<th name="stop">Stop</th>
							<th name="actions"></th>
						</tr>
					</thead>
					<tbody>
						if len(regenerations) == 0 {
							<tr>
								<td colspan="3" class="text-center">
									<i><small>Keine Regenerationen verzeichnet</small></i>
								</td>
							</tr>
						} else {
							for _, r := range regenerations {
								@regenerationsTableRow(r, u)
							}
						}
					</tbody>
				</table>
			</figure>
		}
	}
}

templ regenerationsTableRow(r *shared.ToolRegeneration, u *shared.User) {
	<tr>
		<td>
			<span>{ r.Start.FormatDate() }</span>
		</td>
		<td>
			<span>{ r.Stop.FormatDate() }</span>
		</td>
		<td>
			@components.TableActions(components.TableActionsOptions{
				EditHref:        urlb.UrlDialogs().EditToolRegeneration(r.ID),
				EditAdminOnly:   false,
				DeleteHref:      urlb.UrlTool(r.ToolID, 0, r.ID, 0).DeleteRegeneration,
				DeleteAdminOnly: true,
				User:            u,
			})
		</td>
	</tr>
}

templ cyclesTable(tool shared.ModelTool, toolCycles []*shared.Cycle, lastRegeneration *shared.ToolRegeneration, user *shared.User) {
	@components.Section(templ.Attributes{
		"id": "cycles-section",
	}) {
		@components.SectionTitle(components.SectionTitleLevelSub, "Pressennutzungsverlauf") {
			<button
				class="icon secondary small flex"
				hx-get={ urlb.UrlDialogs().EditCycle(0, tool.GetID(), false) }
				hx-trigger="click"
				hx-target="body"
				hx-swap="beforeend"
				hx-on:htmx:response-error="alert(event.detail.xhr.responseText)"
				title="Neuen Eintrag hinzufügen"
				if !user.IsAdmin() {
					disabled
				}
			>
				<i class="bi bi-plus-lg"></i>
			</button>
		}
		@components.Section(nil) {
			<h6 class="mb">
				Gesamtzyklen:
			</h6>
			<span>
				@TotalCycles(tool.GetBase().Cycles, true)
			</span>
		}
		<figure class="w-full overflow-x-scroll">
			<table
				name="tool-cycles-table"
				class="table borderless compact"
				title="Zyklusverlauf"
			>
				<thead>
					<tr>
						<th name="press">Presse</th>
						<th name="start">Start</th>
						<th name="stop">Stop</th>
						<th name="total">Zyklen</th>
						<th name="total">Zyklen (Teil)</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					if len(toolCycles) == 0 {
						<tr>
							<td colspan="5" class="text-center">
								<i><small>Kein Pressenverlauf verfügbar</small></i>
							</td>
						</tr>
					} else {
						for _, cycle := range toolCycles {
							@cycleTableRow(cycle, lastRegeneration, user)
						}
					}
				</tbody>
			</table>
		</figure>
	}
}

templ cycleTableRow(cycle *shared.Cycle, lastRegeneration *shared.ToolRegeneration, user *shared.User) {
	<tr
		if lastRegeneration.Start >= cycle.Stop {
			style="color: var(--ui-muted);"
		}
	>
		<td>
			<span>{ fmt.Sprintf("%d", cycle.PressNumber) }</span>
		</td>
		<td>
			<span class="text-sm">{ cycle.Start.FormatDate() }</span>
		</td>
		<td>
			<span class="text-sm">{ cycle.Stop.FormatDate() }</span>
		</td>
		<td>
			{ fmt.Sprintf("%d", cycle.Cycles) }
		</td>
		<td>
			@components.TableActions(components.TableActionsOptions{
				EditHref:        urlb.UrlDialogs().EditCycle(cycle.ID, cycle.ToolID, false),
				EditAdminOnly:   true,
				DeleteHref:      urlb.UrlTool(0, 0, 0, cycle.ID).CycleDelete,
				DeleteAdminOnly: true,
				User:            user,
			})
		</td>
	</tr>
}
