package templates

import (
	"fmt"

	"github.com/knackwurstking/pg-press/internal/components"
	"github.com/knackwurstking/pg-press/internal/components/icon"
	"github.com/knackwurstking/pg-press/internal/shared"
	"github.com/knackwurstking/pg-press/internal/urlb"
	"github.com/knackwurstking/ui/pkg/css"
)

templ CyclesSection(oob bool, id shared.EntityID) {
	{{
		hxGet := ""
		hxGet = string(urlb.ToolCycles(id))
	}}
	@components.Section(templ.Attributes{
		"id":                    "cycles-section",
		"hx-get":                hxGet,
		"hx-trigger":            "load, reload-cycles from:body",
		"hx-swap":               "innerHTML",
		"hx-swap-oob":           fmt.Sprintf("%t", oob),
		"hx-on::response-error": "alert(event.detail.xhr.responseText)",
	}) {
		@components.Spinner()
	}
}

type CyclesSectionContentProps struct {
	Tool                *shared.Tool
	ToolCycles          []*shared.Cycle
	PressMap            map[shared.EntityID]*shared.Press
	ActivePress         *shared.Press
	CassettesForBinding []*shared.Tool
	Regenerations       []*shared.ToolRegeneration
	User                *shared.User
}

templ CyclesSectionContent(p *CyclesSectionContentProps) {
	@components.SectionTitle(components.TitleLevel4, "Werkzeugnutzung & Zyklen")
	<div class={ css.Flex, css.FlexCol, css.Gap }>
		@components.Section(templ.Attributes{
			"id": "tool-status-section",
		}) {
			@components.SectionTitle(components.TitleLevel5, "Aktueller Status")
			@toolStatus(p)
		}
		// For now tool cycles for top cassette tools are ignored
		@regenerations(p)
		@cyclesTable(p)
	</div>
}

templ toolStatus(p *CyclesSectionContentProps) {
	<div class={ css.Flex, css.FlexCol, css.Gap }>
		<span class={ css.Flex, css.GapLg }>
			@RegenerationEdit(RegenerationEditProps{
				Tool:              p.Tool,
				ToolIsActive:      p.ActivePress != nil,
				Editable:          false,
				UserHasPermission: p.User.IsAdmin(),
			})
			if p.ActivePress != nil {
				<a
					role="button"
					class={ css.ButtonSmall, css.Ghost, css.Flex, css.Gap }
					href={ urlb.Press(p.ActivePress.ID) }
					title="Zur Pressenübersicht"
				>
					<i class="bi bi-arrow-right"></i>
					{ p.ActivePress.German() }
				</a>
			}
		</span>
		// Skip the binding section for cassette type tools and for lower slot tools
		if !p.Tool.IsCassette() && p.Tool.IsUpperTool() {
			@BindingSection(BindingSectionProps{
				Tool:                p.Tool,
				CassettesForBinding: p.CassettesForBinding,
				IsAdmin:             p.User.IsAdmin(),
			})
		}
	</div>
}

templ regenerations(p *CyclesSectionContentProps) {
	@components.Section(templ.Attributes{
		"id": "regenerations-section",
	}) {
		@components.SectionTitle(components.TitleLevel5, "Regenerationen") {
			@components.SectionTitleAction(components.SectionTitleActionProps{
				Icon:  icon.Plus(),
				Url:   urlb.DialogEditToolRegenerationGet(p.Tool.ID),
				Title: "Neue Regeneration",
			})
		}
		if len(p.Regenerations) == 0 {
			@components.NotFoundText("Keine Regenerationen verzeichnet für dieses Werkzeug")
		} else {
			<figure class={ css.WFull, css.OverflowXScroll }>
				<table title="Regenerationen">
					<thead>
						<tr>
							<th name="start">Start</th>
							<th name="stop">Stop</th>
							<th name="actions"></th>
						</tr>
					</thead>
					<tbody>
						for _, r := range p.Regenerations {
							@regenerationsTableRow(r, p.User)
						}
					</tbody>
				</table>
			</figure>
		}
	}
}

templ regenerationsTableRow(r *shared.ToolRegeneration, u *shared.User) {
	<tr>
		<td>
			<span>{ r.Start.FormatDate() }</span>
		</td>
		<td>
			<span>{ r.Stop.FormatDate() }</span>
		</td>
		<td>
			@components.TableActions(components.TableActionsOptions{
				DeleteHref:      urlb.ToolDeleteRegeneration(r.ToolID, r.ID),
				DeleteAdminOnly: true,
				User:            u,
			})
		</td>
	</tr>
}

templ cyclesTable(p *CyclesSectionContentProps) {
	{{
		var lastRegeneration *shared.ToolRegeneration
		if len(p.Regenerations) > 0 {
			lastRegeneration = p.Regenerations[0]
		}
	}}
	@components.Section(templ.Attributes{
		"id": "cycles-section",
	}) {
		@components.SectionTitle(components.TitleLevel5, "Pressennutzungsverlauf") {
			@components.SectionTitleAction(components.SectionTitleActionProps{
				Icon:  icon.Plus(),
				Url:   urlb.DialogEditCycleGet(0, p.Tool.ID, false),
				Title: "Neuen Eintrag hinzufügen",
			})
		}
		@components.Section(nil) {
			<h6 class={ css.MB }>
				Gesamtzyklen:
			</h6>
			<span>
				@TotalCycles(p.Tool.Cycles, true)
			</span>
		}
		if len(p.ToolCycles) == 0 {
			@components.NotFoundText("Kein Pressenverlauf verfügbar")
		} else {
			<figure class={ css.WFull, css.OverflowXScroll }>
				<table
					name="tool-cycles-table"
					class={ css.TableBorderless, css.TableCompact }
					title="Zyklusverlauf"
				>
					<thead>
						<tr>
							<th name="press">Presse</th>
							<th name="start">Start</th>
							<th name="stop">Stop</th>
							<th name="press_cycles">Zyklen</th>
							<th name="partial_cycles">Zyklen (Teil)</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						for _, cycle := range p.ToolCycles {
							@cycleTableRow(cycle, p.PressMap[cycle.PressID], lastRegeneration, p.User)
						}
					</tbody>
				</table>
			</figure>
		}
	}
}

templ cycleTableRow(cycle *shared.Cycle, press *shared.Press, lastRegeneration *shared.ToolRegeneration, user *shared.User) {
	<tr
		if lastRegeneration != nil && lastRegeneration.Start >= cycle.Stop {
			style={ fmt.Sprintf("color: %s", css.VarMuted) }
		}
	>
		<td>
			<span>{ press.German() }</span>
		</td>
		<td>
			<span class={ css.TextSM }>{ cycle.Start.FormatDate() }</span>
		</td>
		<td>
			<span class={ css.TextSM }>{ cycle.Stop.FormatDate() }</span>
		</td>
		<td>
			{ fmt.Sprintf("%d", cycle.PressCycles) }
		</td>
		<td>
			{ fmt.Sprintf("%d", cycle.PartialCycles) }
		</td>
		<td>
			@components.TableActions(components.TableActionsOptions{
				EditHref:        urlb.DialogEditCycleGet(cycle.ID, cycle.ToolID, false),
				EditAdminOnly:   true,
				DeleteHref:      urlb.ToolCycleDelete(cycle.ID),
				DeleteAdminOnly: true,
				User:            user,
			})
		</td>
	</tr>
}
