<!-- Title -->

{{define "title"}}PG: Presse | Trouble Reports{{end}}

<!-- App Bar Title -->

{{define "app-bar-title"}}Trouble Reports{{end}}

<!-- Nav -->

{{define "nav"}} {{template "basic-nav-elements"}} {{end}}

<!-- Content -->

{{define "content"}}
<script>
    function search(event) {
        const rg = new RegExp(event.currentTarget.value, "si");
        const elements = document.querySelectorAll("details.data");

        elements.forEach((element) => {
            if (rg.test(element.textContent)) {
                console.debug("match: ", element.textContent);
                element.style.display = "block"
            } else {
                element.style.display = "none"
            }
        });
    }
</script>

<main class="container fluid">
    <section style="margin-top: 0" class="flex gap justify-between">
        <input
            style="margin: auto 0; width: 100%"
            type="search"
            name="search"
            placeholder="Suche"
            aria-label="Suche"
            onchange="search(event)"
        />
    </section>

    <section style="margin-top: 0" class="flex gap justify-end">
        <button
            hx-get="./trouble-reports/dialog-edit"
            hx-trigger="click"
            hx-target="#dialogEdit"
            hx-swap="outerHTML"
            class="flex row gap justify-between align-center"
            title="Erstelle einen neuen Eintrag"
        >
            <i class="bi bi-plus-lg"></i>
            Erstellen
        </button>
    </section>

    <section>
        <span
            hx-get="./trouble-reports/data"
            hx-trigger="load"
            hx-swap="outerHTML"
            id="data"></span>
    </section>

    <span id="dialogEdit"></span>
</main>
{{end}}
