<!-- Title -->

{{define "title"}}PG: Presse | Registrieren{{end}}

<!-- Additional Scripts -->

{{define "additional-scripts"}}
<link rel="stylesheet" href="./css/signup.css" />
<script src="./js/signup.js" defer></script>
{{end}}

<!-- Content -->

{{define "content"}}
<main class="container">
    <form>
        <fieldset>
            <label>
                Api Key
                <input type="text" placeholder="Api Key" required />
            </label>
        </fieldset>

        <input type="submit" value="submit" />
    </form>
</main>
{{end}}
