<!-- Title -->

{{define "title"}}PG: Presse | Feed{{end}}

<!-- App Bar Title -->

{{define "app-bar-title"}}Feed{{end}}

<!-- Nav -->

{{define "nav"}}
<div class="flex row gap justify-end align-center">
    <a role="button" class="ghost primary" href="./feed" disabled>Feed</a>

    <a role="button" class="ghost primary icon" href="./profile">
        <i class="bi bi-person-circle"></i>
    </a>

    <a role="button" class="ghost primary icon" href="./">
        <i class="bi bi-house"></i>
    </a>
</div>
{{end}}

<!-- Content -->

{{define "content"}}
<main class="container fluid">
    <i>Under Construction</i>
</main>
{{end}}
