<!-- Title -->

{{define "title"}}PG: Presse | Feed{{end}}

<!-- App Bar Title -->

{{define "app-bar-title"}}Feed{{end}}

<!-- Nav -->

{{define "nav"}}
<div class="flex row gap justify-end align-center">
    <a role="button" class="ghost primary icon" href="./profile">
        <i class="bi bi-person-circle"></i>
    </a>

    <a role="button" class="ghost primary icon" href="./">
        <i class="bi bi-house"></i>
    </a>
</div>
{{end}}

<!-- Content -->

{{define "content"}}
<main class="container fluid">
    <blockquote>
        <i>Under Construction...</i>
    </blockquote>

    <article id="feed10">
        <header>Title... (10)</header>
        <main>
            Content... (10)
        </main>
        <footer>
            Footer... (10)
        </footer>
    </article>

    <article id="feed9">
        <header>Title... (9)</header>
        <main>
            Content... (9)
        </main>
        <footer>
            Footer... (9)
        </footer>
    </article>

    <article id="feed8">
        <header>Title... (8)</header>
        <main>
            Content... (8)
        </main>
        <footer>
            Footer... (8)
        </footer>
    </article>

    <article id="feed7">
        <header>Title... (7)</header>
        <main>
            Content... (7)
        </main>
        <footer>
            Footer... (7)
        </footer>
    </article>

    <article id="feed6">
        <header>Title... (6)</header>
        <main>
            Content... (6)
        </main>
        <footer>
            Footer... (6)
        </footer>
    </article>

    <article id="feed5">
        <header>Title... (5)</header>
        <main>
            Content... (5)
        </main>
        <footer>
            Footer... (5)
        </footer>
    </article>

    <article id="feed4">
        <header>Title... (4)</header>
        <main>
            Content... (4)
        </main>
        <footer>
            Footer... (4)
        </footer>
    </article>

    <article id="feed3">
        <header>Title... (3)</header>
        <main>
            Content... (3)
        </main>
        <footer>
            Footer... (3)
        </footer>
    </article>

    <article id="feed2">
        <header>Title... (2)</header>
        <main>
            Content... (2)
        </main>
        <footer>
            Footer... (2)
        </footer>
    </article>

    <article id="feed1">
        <header>Title... (1)</header>
        <main>
            Content... (1)
        </main>
        <footer>
            Footer... (1)
        </footer>
    </article>

    <article id="feed0">
        <header>Title... (0)</header>
        <main>
            Content... (0)
        </main>
        <footer>
            Footer... (0)
        </footer>
    </article>
</main>
{{end}}
