<!-- Title -->

{{define "title"}}PG: Presse | Home{{end}}

<!-- App Bar Title -->

{{define "app-bar-title"}}Home{{end}}

<!-- Nav -->

{{define "nav"}}
<div class="flex row gap justify-end align-center">
    {{template "nav-feed"}}

    <a role="button" class="ghost primary icon" href="./profile">
        <i class="bi bi-person-circle"></i>
    </a>

    <a role="button" class="ghost primary icon" href="./" disabled>
        <i class="bi bi-house"></i>
    </a>
</div>
{{end}}

<!-- Content -->

{{define "content"}}
<style>
    details>summary {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: nowrap;
    }

    details>summary>*:first-child {
        width: 100%;
    }

    details>summary>*:last-child {
        flex: 1;
        width: fit-content;
    }
</style>

<main class="container fluid">
    <aside>
        <nav>
            <ul>
                <a 
                    role="button"
                    class="ghost primary flex row gap justify-between align-center",
                    style="width: 100%;"
                    href="./trouble-reports"
                >
                    Trouble Reports
                    <i class="bi bi-chevron-right"></i>
                </a>
            </ul>
        </nav>
    </aside>
</main>
{{end}}
