{{define "title"}}PG: Presse | Registrieren{{end}}

{{define "app-bar-title"}}Registrieren{{end}}

{{define "nav"}}{{end}}

{{define "content"}}
<main class="container">
    <dialog id="dialogLogin" class="clean">
        <form>
            <label class="flex column">
                Api Key
                <input name="api-key" type="text" placeholder="Api Key" value="{{.ApiKey}}" {{if
                    .InvalidApiKey}} aria-invalid="{{.InvalidApiKey}}" {{end}} required />
            </label>

            <footer class="flex">
                <button class="flex-item" type="submit">Anmelden</button>
            </footer>
        </form>
    </dialog>

    <script>
        document.querySelector("#dialogLogin").showModal();
    </script>
</main>
{{end}}
