<!-- Title -->

{{define "title"}}PG: Presse | Profil{{end}}

<!-- App Bar Title -->

{{define "app-bar-title"}}Profil{{end}}

<!-- Nav -->

{{define "nav"}}
<div class="flex row gap justify-end align-center">
    <a role="button" class="ghost primary" href="./feed">Feed</a>

    <a role="button" class="ghost primary icon" href="./profile" disabled>
        <i class="bi bi-person-circle"></i>
    </a>

    <a role="button" class="ghost primary icon" href="./">
        <i class="bi bi-house"></i>
    </a>
</div>
{{end}}

<!-- Content -->

{{define "content"}}
<style>
    hgroup>.user-name>* {
        margin: 0;
    }

    hgroup>.user-name {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: var(--pico-spacing);
    }
</style>

<main class="container fluid">
    <hgroup class="flex column gap">
        <span class="user-name">
            <h1>{{.User.UserName}}</h1>

            <button
                class="ghost icon"
                onclick='
                    document.querySelector("#dialogEditUserName").showModal();
                '>
                <i class="bi bi-pen"></i>
            </button>
        </span>

        <div class="flex gap justify-between">
            <p>Telegram ID: {{.User.TelegramID}}</p>
            <a
                style="float: right"
                role="button"
                href="./logout"
                class="ghost destructive">
                Logout
            </a>
        </div>
    </hgroup>

    <br />

    <span
        id="cookies"
        hx-get="./profile/cookies"
        hx-trigger="load"
        hx-swap="outerHTML"></span>

    <!-- FIXME: Proper cancel button handling -->
    <dialog id="dialogEditUserName" class="clean">
        <form action="./profile">
            <label class="flex column">
                User Name
                <input
                    name="user-name"
                    type="text"
                    value="{{.User.UserName}}"
                    placeholder="User Name" />
            </label>

            <footer class="flex row gap justify-end">
                <a role="button" class="flex-item secondary" href="./profile">Schließen</a>
                <button type="flex-item submit">Ändern</button>
            </footer>
        </form>
    </dialog>
</main>
{{end}}
