<!-- Title -->

{{define "title"}}Profil{{end}}

<!-- Additional Scripts -->

{{define "additional-scripts"}}
<link rel="stylesheet" href="./css/page/profile.css" />
<script src="./js/page/profile.js" defer></script>
{{end}}

<!-- Nav -->

{{define "nav"}}
<ul>
    <li><a href="./">Home</a></li>
    <li><a href="./feed">Feed</a></li>
</ul>
{{end}}

<!-- Content -->

{{define "content"}}
<main class="container-fluid">
    <hgroup>
        <span class="user-name">
            <h1>{{.User.UserName}}</h1>

            <button
                class="contrast outline icon"
                onclick='
                    document.querySelector("#dialogEditUserName").showModal();
                '
            >
                {{template "svg-pencil"}}
            </button>
        </span>

        <p>Telegram ID: {{.User.TelegramID}}</p>
    </hgroup>

    {{if ne .ErrorMessages nil}}
    <dialog id="dialogErrorMessages" open>
        <form method="dialog">
            <header>
                <h2>{{template "svg-triangle-alert"}}</h2>
            </header>

            <span class="messages">
                {{range $message := .ErrorMessages}}
                    <p>{{$message}}</p>
                {{end}}
            </span>

            <footer>
                <button>Schließen</button>
            </footer>
        </form>
    </dialog>
    {{end}}

    <dialog id="dialogEditUserName">
        <form action="./profile">
            <label>
                User Name
                <input
                    name="user-name"
                    type="text"
                    value="{{.User.UserName}}"
                    placeholder="User Name"
                    aria-invalid="{{if eq .User.UserName ""}}{{end}}"
                />
            </label>

            <button type="submit">Submit</button>
        </form>
    </dialog>
</main>
{{end}}
