{{ define "content" }}

<!-- NOTE: Important IDs
    - metalSheetsSearchForm
    - metalSheetsTableSearch
    - metalSheetsTableSearchDataList
    - metalSheetTables
-->

{{ $data := . }}
{{ $global := $data.Global }}

<search
    style="
        position: absolute;
        top: var(--ui-app-bar-height);
        left: var(--ui-spacing);
        right: var(--ui-spacing);
        height: 2.5rem;
    "
>
    <form id="metalSheetsSearchForm" wx-send>
        <input
            id="metalSheetsTableSearch" name="tableSearch"
            style="width: 100%; height: 100%"
            type="search"
            list="tableSearchInput"
            autocomplete="off"
            value="{{ $data.TableSearch }}"
            onchange='location.search = "tableSearch=" + this.value'
        />
        <datalist id="metalSheetsTableSearchDataList">
            {{ range $option := $data.SearchDataList }}
                <option value="{{ $option }}">{{ $option }}</option>
            {{ end }}
        </datalist>
    </form>
</search>

<div
    id="metalSheetTables"
    style="margin-top: 3rem"
>
    {{ range $table := $data.Tables }}
        {{ template "component-metal-sheet-table" ($global.Array $global $table) }}
    {{ end }}
</div>

<script src="{{ .ServerPathPrefix }}/js/content/metal-sheets.js"></script>
{{ end }}
