{{ define "content" }}
<!-- NOTE: ...
    - SearchBar on top (no regex?)

    - Metal Sheets
        - Tables from top to bottom
        - Could use detail tags for this, or find something else
-->

<style></style>

<search>
    <input type="search" list="searchInput" />
    <datalist id="searchInput">
        {{ range $option := .SearchDataList }}
        <option value="{{ $option }}">{{ $option }}</option>
        {{ end }}
    </datalist>
</search>

<div id="tables"></div>

<script src="{{ .ServerPathPrefix }}/js/content/metal-sheets.js"></script>
{{ end }}
