{{ define "content" }}
<!-- NOTE: ...
    - SearchBar on top (no regex?)

    - Metal Sheets
        - Tables from top to bottom
        - Could use detail tags for this, or find something else
-->

<style></style>

<search
    style="
        position: absolute;
        top: calc(var(--ui-app-bar-height) + var(--ui-spacing));
        left: var(--ui-spacing);
        right: var(--ui-spacing);
        height: 2.5rem;
    "
>
    <input
        id="tableSearch"
        name="tableSearch"
        style="width: 100%; height: 100%"
        type="search"
        list="tableSearchInput"
        autocomplete="off"
    />
    <datalist id="tableSearchInput">
        {{ range $option := .SearchDataList }}
            <option value="{{ $option }}">{{ $option }}</option>
        {{ end }}
    </datalist>
</search>

<div id="tables" style="margin-top: 3rem">
    {{ range $table := .Tables }}
        <table data-search="{{ $table.DataSearch }}">
            <thead>
                <tr>
                    {{ range $i, $value := $table.Head }} 
                        {{ if $table.IsHidden $i }}
                            {{ continue }}
                        {{ end }} 

                        <th>{{ $value }}</th>
                    {{ end }}
                </tr>
            </thead>

            <tbody>
                {{ range $row := $table.Body }}
                    <tr>
                        {{ range $i, $cell := $row }} 
                            {{ if $table.IsHidden $i }}
                                {{ continue }}
                            {{ end }} 

                            {{ if $cell.IsSacmiThickness }}
                                <td>{{ $cell.Value.Current }} ({{ $cell.Value.Max }})</td>
                            {{ else }}
                                <td>{{ $cell.Value }}</td>
                            {{ end }} 
                        {{ end }}
                    </tr>
                {{ end }}
            </tbody>
        </table>
    {{ end }}
</div>

<script src="{{ .ServerPathPrefix }}/js/content/metal-sheets.js"></script>
{{ end }}
