{{ define "content" }}
<!-- NOTE: ...
    - SearchBar on top (no regex?)

    - Metal Sheets
        - Tables from top to bottom
        - Could use detail tags for this, or find something else
-->

<style></style>

<search
    style="
        position: absolute;
        top: calc(var(--ui-app-bar-height) + var(--ui-spacing));
        left: var(--ui-spacing);
        right: var(--ui-spacing);
        height: 2.5rem;
    "
>
    <input style="width: 100%; height: 100%" type="search" list="searchInput" />
    <datalist id="searchInput">
        {{ range $option := .SearchDataList }}
        <option value="{{$option}}">{{$option}}</option>
        {{ end }}
    </datalist>
</search>

<div id="tables" style="margin-top: 3rem">
    <!-- TODO: Render table here (server side) `{{ range $table := .Tables }}` -->
    <!-- TODO: ... `{{ range $value := $table.Head }}` -->
    <!-- TODO: ... `{{ range $value := $table.Body }}` -->
</div>

<script src="{{ .ServerPathPrefix }}/js/content/metal-sheets.js"></script>
{{ end }}
