package templates

import "github.com/knackwurstking/pg-press/components"

templ LoginPage(apiKey string, invalidApiKey bool) {
	@components.Layout(components.LayoutOptions{
		PageTitle:   "PG Presse | Login",
		AppBarTitle: "Login",
		NavContent:  components.BasicNavContent(),
	}) {
		<main class="container">
			@apiKeyDialog(apiKey, invalidApiKey)
			<script>
				document.querySelector("#login-dialog").showModal();
			</script>
		</main>
	}
}
