package components

templ HXDetails(hxGet templ.SafeURL, id, icon, title string) {
	<details
		id={ id }
		hx-get={ hxGet }
		hx-trigger="toggle[event.target.open]"
		hx-on:htmx:response-error="alert(event.detail.xhr.responseText)"
		hx-on:toggle="if (!event.target.open) event.target.innerHTML = event.target.querySelector('summary').outerHTML"
	>
		<summary class="mb">
			<h4>
				<i class={ "bi", icon, "mr" }></i>
				{ title }
			</h4>
		</summary>
		@Spinner()
	</details>
}
