package components

templ ActionBar(props ...templ.Attributes) {
	{{
		prop := templ.Attributes{}
		if len(props) > 0 {
			prop = props[0]
		}

		if c, ok := prop["class"]; ok {
			prop["class"] = "flex gap-4 justify-end p-4 " + c.(string)
		} else {
			prop["class"] = "flex gap-4 justify-end p-4"
		}
	}}
	<div { prop... }>
		{ children... }
	</div>
}
