:root {
	--pwa-theme-color: var(--ui-primary);
	--pwa-background-color: var(--ui-bg);
}

html:has(dialog[open]),
body:has(dialog[open]) {
	overflow: hidden;
}

.app-bar {
	z-index: 1000;
}

.app-bar ~ * {
	padding-top: calc(var(--ui-app-bar-height) + 1rem);
}

details summary::after {
	font-family: "bootstrap-icons";
	content: "\f285";
}

details[open] summary::after {
	content: "\f282";
}

/* Image viewer styles */

.image-viewer button.close {
	position: fixed;
	top: var(--ui-spacing);
	right: var(--ui-spacing);
}

.image-viewer img {
	max-width: 100%;
	max-height: 100%;
}

/* HTMX Loading Animation */
/* TODO: Remove? */

.animate-spin {
	animation: spin 1s linear infinite;
}

@keyframes spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
