.tabs {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
	gap: var(--ui-spacing);
}

.tabs .tab {
	flex: 1 1 0%;
	padding: var(--ui-spacing);
}

.tab-content {
	width: 100%;
	height: fit-content;
	padding: var(--ui-spacing);
}
