package feeds

import (
	"fmt"
	"time"
)

templ Layout(id int64, t time.Time, content templ.Component) {
	<article id={ fmt.Sprintf("feed-%d", id) } class="card" data-id={ fmt.Sprintf("%d", id) } data-time={ fmt.Sprintf("%d", t.UnixMilli()) }>
		<div style="margin-bottom: var(--ui-spacing);" class="card-body">
			@content
		</div>
		<div class="card-footer">
			<small style="float: right;">{ t.Format("2006-01-02 15:04:05") }</small>
		</div>
	</article>
}
