<!-- Additional Scripts -->

{{define "additional-scripts"}}
<style>
    details > summary {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: nowrap;
    }

    details > summary > *:first-child {
        width: 100%;
    }

    details > summary > *:last-child {
        flex: 1;
        width: fit-content;
    }
</style>
{{end}}

<!-- Nav -->

{{define "nav"}}
<div class="flex row gap justify-end align-center">
    <a role="button" class="ghost primary" href="./feed">Feed</a>

    <a role="button" class="ghost primary icon" href="./profile">
        <i class="bi bi-person-circle"></i>
    </a>

    <a role="button" class="ghost primary icon" href="./" disabled>
        <i class="bi bi-house"></i>
    </a>
</div>
{{end}}

<!-- Content -->

{{define "content"}}
<main class="container fluid">
    <aside>
        <nav>
            <ul>
                <li><a href="./documentation" disabled>Documentation</a></li>
            </ul>
        </nav>
    </aside>

    <hr />

    <aside>
        <nav>
            <ul>
                <li><a href="./howtos" disabled>Howtos</a></li>
            </ul>
        </nav>
    </aside>

    <hr />

    <aside>
        <nav>
            <ul>
                <li><a href="./alert-lists" disabled>Alarm Listen</a></li>
            </ul>
        </nav>
    </aside>

    <hr />

    <aside>
        <nav>
            <ul>
                <li><a href="./trouble-reports">Trouble Reports</a></li>
            </ul>

            <ul style="padding-left: 1rem">
                <li>
                    <a href="#" class="secondary ghost" disabled
                        >Topic: Presse 0</a
                    >
                </li>
                <li>
                    <a href="#" class="secondary ghost" disabled
                        >Topic: Presse 2-5</a
                    >
                </li>
                <li>
                    <a href="#" class="secondary ghost" disabled
                        >Topic: Presse 5</a
                    >
                </li>
                <li>
                    <a href="#" class="secondary ghost" disabled
                        >Topic: Allgemein</a
                    >
                </li>
            </ul>
        </nav>
    </aside>

    <hr />

    <aside>
        <nav>
            <ul>
                <li><a href="./product-data" disabled>Produkt Daten</a></li>
            </ul>
        </nav>
    </aside>

    <hr />

    <aside>
        <nav>
            <ul>
                <li><a href="./metal-sheets" disabled>Blech Listen</a></li>
            </ul>
        </nav>
    </aside>

    <hr />

    <aside>
        <nav>
            <ul>
                <li><a href="./flakes" disabled>Flakes</a></li>
            </ul>

            <ul style="padding-left: 1rem">
                <li>
                    <a href="#" class="secondary ghost" disabled>Topic: P0</a>
                </li>

                <li>
                    <a href="#" class="secondary ghost" disabled>
                        Topic: P0 Verbrauchs Rechner
                    </a>
                </li>

                <li>
                    <a href="#" class="secondary ghost" disabled>Topic: P4</a>
                </li>

                <li>
                    <a href="#" class="secondary ghost" disabled>Topic: P5</a>
                </li>
            </ul>
        </nav>
    </aside>
</main>
{{end}}
