<!doctype html>
<html lang="de">

<head>
    <meta charset="utf-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

    <link rel="icon" href="./favicon.ico" sizes="any" />
    <link rel="apple-touch-icon" href="./apple-touch-icon-180x180.png" />

    <link rel="manifest" href="./manifest.json" />

    <!--link rel="stylesheet" href="./pico.lime.min.css" /-->
    <link rel="stylesheet" href="./ui-dev.min.css" />
    <link rel="stylesheet" href="./css/style.css" />

    {{block "additional-scripts" .}}{{end}}

    <title>PG: Presse | {{template "title" .}}</title>

    <script>
        //if ("serviceWorker" in navigator) {
        //    window.addEventListener("load", () => {
        //        navigator.serviceWorker
        //            .register("./service-worker.js")
        //            .then((registration) => {
        //                console.info(
        //                    "Service Worker registered with scope:",
        //                    registration.scope,
        //                );
        //            })
        //            .catch((err) => {
        //                console.error(
        //                    "Service Worker registration failed:",
        //                    err,
        //                );
        //            });
        //    });
        //}
    </script>
</head>

<body>
    <header class="container fluid">
        <nav class="flex row justify-between gap">
            <ul>
                <li>
                    <strong>{{block "title" .}}PG: Presse{{end}}</strong>
                </li>
            </ul>

            {{block "nav" .}}{{end}}
        </nav>
    </header>

    {{block "content" .}}{{end}}

    {{if ne .ErrorMessages nil}}
    <dialog id="dialogErrorMessages" open>
        <form method="dialog">
            <header>
                <h2>{{template "svg-triangle-alert"}}</h2>
            </header>

            <span class="messages">
                {{range $message := .ErrorMessages}}
                <p>{{$message}}</p>
                {{end}}
            </span>

            <footer>
                <button class="secondary">Schließen</button>
            </footer>
        </form>
    </dialog>
    {{end}}
</body>

</html>
