<!-- Title -->

{{define "title"}}Registrieren{{end}}

<!-- Additional Scripts -->

{{define "additional-scripts"}}{{end}}

<!-- Nav -->

{{define "nav"}}{{end}}

<!-- Content -->

{{define "content"}}
<main class="container">
    <dialog id="dialogLogin" class="clean">
        <form>
            <label>
                Api Key

                <input
                    name="api-key"
                    type="text"
                    placeholder="Api Key"
                    value="{{.ApiKey}}"
                    {{if .InvalidApiKey}} aria-invalid="{{.InvalidApiKey}}" {{end}}
                    required
                />
            </label>

            <footer>
                <button type="submit">Anmelden</button>
            </footer>
        </form>
    </dialog>

    <script>
        document.querySelector("#dialogLogin").showModal();
    </script>
</main>
{{end}}
