<!-- Additional Scripts -->

{{define "additional-scripts"}}{{end}}

<!-- Nav -->

{{define "nav"}}
<ul>
    <li><a href="./feed">Feed</a></li>
    <li><a href="./profile">Profil</a></li>
</ul>
{{end}}

<!-- Content -->

{{define "content"}}
<main class="container-fluid">
    <!-- TODO: Categories, Sub categories, And more -->

    <details name="categories" disabled>
        <summary>Howtos</summary>

        <i>Work in Progress</i>
    </details>

    <hr />

    <details name="categories" disabled>
        <summary>Alarm Listen</summary>

        <i>Work in Progress</i>
    </details>

    <hr />

    <details name="categories">
        <summary>Trouble Reports</summary>

        <i>Work in Progress</i>
    </details>

    <hr />

    <details name="categories" disabled>
        <summary>Produkt Daten</summary>

        <i>Work in Progress</i>
    </details>

    <hr />

    <details name="categories" disabled>
        <summary>Blech Listen</summary>

        <i>Work in Progress</i>
    </details>

    <hr />

    <details name="categories" disabled>
        <summary>Flakes</summary>

        <i>Work in Progress</i>
    </details>
</main>
{{end}}
