<!-- Title -->

{{define "title"}}Home{{end}}

<!-- Additional Scripts -->

{{define "additional-scripts"}}{{end}}

<!-- Nav -->

{{define "nav"}}
<ul>
    <li><a href="./" disabled>Home</a></li>
    <li><a href="./feed">Feed</a></li>
    <li><a href="./profile">Profil</a></li>
</ul>
{{end}}

<!-- Content -->

{{define "content"}}
<main class="container-fluid">
    <aside>
        <nav>
            <ul>
                <li><a href="#howtos" class="secondary">Howtos</a></li>
                <li><a href="#documentation" class="secondary">Documentation</a></li>
                <li><a href="#alert-lists" class="secondary">Alarm Listen</a></li>
                <li><a href="#trouble-reports" class="secondary">Problem Berichte</a></li>
                <li><a href="#product-data" class="secondary">Product Daten</a></li>
                <li><a href="#metal-sheets" class="secondary">Blech Listen</a></li>
                <li><a href="#flakes" class="secondary">Flakes</a></li>
            </ul>
        </nav>
    </aside>
</main>
{{end}}
