<!-- Additional Scripts -->

{{define "additional-scripts"}}{{end}}

<!-- Nav -->

{{define "nav"}}
<ul>
    <li><a href="./feed">Feed</a></li>
    <li><a href="./profile">Profil</a></li>
</ul>
{{end}}

<!-- Content -->

{{define "content"}}
<main class="container-fluid">
    <!-- TODO: Categories, Sub categories, And more -->

    <details name="categories" disabled>
        <summary>Howtos</summary>

        <i>Work in Progress</i>
    </details>

    <hr />

    <details name="categories" disabled>
        <summary>Alarm Listen</summary>

        <i>Work in Progress</i>
    </details>

    <hr />

    <details name="categories">
        <summary>Trouble Reports</summary>

        <!-- NOTE: Find a better way for this crap here -->
        <aside>
            <nav>
                <ul>
                    <li><a style="float: right;" role="button" class="contrast" href="./trouble-reports">Open</a></li>
                </ul>

                <ul>
                    <li><a href="#" class="secondary">Topic: Presse 0</a></li>
                    <li><a href="#" class="secondary">Topic: Presse 2-5</a></li>
                    <li><a href="#" class="secondary">Topic: Presse 5</a></li>
                    <li><a href="#" class="secondary">Topic: Allgemein</a></li>
                </ul>
            </nav>
        </aside>
    </details>

    <hr />

    <details name="categories" disabled>
        <summary>Produkt Daten</summary>

        <i>Work in Progress</i>
    </details>

    <hr />

    <details name="categories" disabled>
        <summary>Blech Listen</summary>

        <i>Work in Progress</i>
    </details>

    <hr />

    <details name="categories" disabled>
        <summary>Flakes</summary>

        <i>Work in Progress</i>
    </details>
</main>
{{end}}
