<!-- Title -->

{{define "title"}}Profil{{end}}

<!-- Additional Scripts -->

{{define "additional-scripts"}}
<style>
    hgroup>.user-name>* {
        margin: 0;
    }

    hgroup>.user-name {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: var(--pico-spacing);
    }
</style>
{{end}}

<!-- Nav -->

{{define "nav"}}
<ul class="flex row gap justify-end align-center">
    <li><a href="./"><i class="bi bi-house"></i></a></li>
    <li><a href="./feed">Feed</a></li>
    <li><a href="./profile" disabled>Profil</a></li>
</ul>
{{end}}

<!-- Content -->

{{define "content"}}
<main class="container fluid">
    <hgroup class="flex column gap">
        <span class="user-name">
            <h1>{{.User.UserName}}</h1>

            <button class="ghost icon" onclick='
                document.querySelector("#dialogEditUserName").showModal();
            '>
                <i class="bi bi-pen"></i>
            </button>
        </span>

        <div class="flex gap justify-between">
            <p>Telegram ID: {{.User.TelegramID}}</p>
            <a style="float: right;" role="button" href="./logout" class="ghost destructive">Logout</a>
        </div>
    </hgroup>

    <br />

    {{if ne (len .Cookies) 0}}
    <details>
        <summary>Cookies</summary>

        <i>Under Construction</i>

        <table>
            <thead>
                <tr>
                    <th>Letzte Anmeldung</th>
                    <th>Benutzeragent</th>
                    <th>Aktionen</th>
                </tr>
            </thead>

            <tbody>
                {{range $cookie := .Cookies}}
                <tr>
                    <td>{{$cookie.LastLogin}}</td>
                    <td>{{$cookie.UserAgent}}</td>

                    <td class="right">
                        <button class="ghost primary icon" onclick='
                            console.debug("@TODO: Delete this cookie...")
                        '>
                            <i class="bi bi-trash"></i>
                        </button>
                    </td>
                </tr>
                {{end}}
            </tbody>
        </table>
    </details>
    {{end}}

    <dialog id="dialogEditUserName" class="clean">
        <form action="./profile">
            <label class="flex column">
                User Name
                <input name="user-name" type="text" value="{{.User.UserName}}" placeholder="User Name" />
            </label>

            <footer class="flex row gap justify-end">
                <button class="flex-item secondary">Schließen</button>
                <button type="flex-item submit">Ändern</button>
            </footer>
        </form>
    </dialog>
</main>
{{end}}
