<!-- Title -->

{{define "title"}}Profil{{end}}

<!-- Additional Scripts -->

{{define "additional-scripts"}}
<link rel="stylesheet" href="./css/page/profile.css" />
{{end}}

<!-- Nav -->

{{define "nav"}}
<!-- TODO: Need a logout link here somewhere -->
<ul class="flex row gap justify-end align-center">
    <li><a href="./">Home</a></li>
    <li><a href="./feed">Feed</a></li>
    <li><a href="./profile" disabled>Profil</a></li>
</ul>
{{end}}

<!-- Content -->

{{define "content"}}
<main class="container fluid">
    <hgroup>
        <span class="user-name">
            <h1>{{.User.UserName}}</h1>

            <button class="outline contrast icon" onclick='
                    document.querySelector("#dialogEditUserName").showModal();
                '>
                {{template "svg-pencil"}}
            </button>
        </span>

        <p>Telegram ID: {{.User.TelegramID}}</p>
    </hgroup>

    <br />

    <!-- TODO: Add a cookies section here, for disconnect remote devices  -->
    <details>
        <summary>Cookies</summary>

        <i>Under Construction</i>

        <ul>
            <!-- TODO: Render cookies here, add delete (icon) button -->
        </ul>
    </details>

    <dialog id="dialogEditUserName">
        <form action="./profile">
            <label>
                User Name
                <input name="user-name" type="text" value="{{.User.UserName}}" placeholder="User Name" />
            </label>

            <footer>
                <button class="secondary">Schließen</button>
                <button type="submit">Ändern</button>
            </footer>
        </form>
    </dialog>
</main>
{{end}}
