<!-- Title -->

{{define "title"}}Trouble Reports{{end}}

<!-- Additional Scripts -->

{{define "additional-scripts"}}{{end}}

<!-- Nav -->

{{define "nav"}}
{{template "basic-nav-elements"}}
{{end}}

<!-- Content -->

{{define "content"}}
<main class="container fluid">
    <section style="margin-top: 0" class="flex gap justify-between">
        <input
            style="margin: auto 0; width: 100%"
            type="search"
            name="search"
            placeholder="Suche"
            aria-label="Suche"
        />
    </section>

    <section style="margin-top: 0" class="flex gap justify-end">
        <button class="ghost icon"><i class="bi bi-plus"></i></button>
    </section>

    <section>
        <i>Under Construction</i>
    </section>

    <!-- TODO: Rendering data here -->
</main>
{{end}}
