<!-- Title -->

{{define "title"}}Trouble Reports{{end}}

<!-- Additional Scripts -->

{{define "additional-scripts"}}{{end}}

<!-- Nav -->

{{define "nav"}}
<!-- TODO: Need a logout link here somewhere -->
<ul  class="flex row gap justify-end align-center">
    <li><a href="./"><i class="bi bi-house"></i></a></li>
    <li><a href="./feed">Feed</a></li>
    <li><a href="./profile">Profil</a></li>
</ul>
{{end}}

<!-- Content -->

{{define "content"}}
<main class="container fluid">
    <section style="margin-top: 0;" class="flex gap justify-between">
        <input style="margin: auto 0; width: 100%;" type="search" name="search" placeholder="Suche" aria-label="Suche" />
    </section>

    <section style="margin-top: 0;" class="flex gap justify-end">
        <button class="ghost icon"><i class="bi bi-plus"></i></button>
    </section>

    <!-- TOOD: Search input, using a datalist(?), Frontend search handler -->
    <section>
        <i>Under Construction</i>
    </section>

    <!-- TOOD: details list containing data -->
</main>
{{end}}
