package components

import "github.com/knackwurstking/ui/pkg/css"

templ ActionBar(attr templ.Attributes) {
	{{
		if attr == nil {
			attr = templ.Attributes{}
		}

		if c, ok := attr["class"]; ok {
			attr["class"] = templ.CSSClasses{
				css.Flex,
				css.Gap,
				css.JustifyEnd,
				css.P,
				c,
			}.String()
		} else {
			attr["class"] = templ.CSSClasses{
				css.Flex,
				css.Gap,
				css.JustifyEnd,
				css.P,
			}.String()
		}
	}}
	<div { attr... }>
		{ children... }
	</div>
}
