package components

templ NotFoundText(text string) {
	<p class="text-muted-foreground w-full text-center italic text-sm">
		if text != "" {
			{ text }
		} else {
			Der angeforderte Inhalt wurde nicht gefunden.
		}
	</p>
}
