package components

templ NotFoundText(text string) {
	{{ class := "muted ghost w-full text-center italic text-sm" }}
	if text != "" {
		<p class={ class }>{ text }</p>
		{{ return }}
	}
	<p class={ class }>Der angeforderte Inhalt wurde nicht gefunden.</p>
}
