package components

import "github.com/knackwurstking/ui/templ/css"

templ NotFoundText(text string) {
	{{
		class := templ.CSSClasses{
			css.Muted, css.Ghost, css.WFull, css.TextCenter, css.Italic, css.TextSm,
		}
	}}
	if text != "" {
		<p class={ class }>{ text }</p>
		{{ return }}
	}
	<p class={ class }>Der angeforderte Inhalt wurde nicht gefunden.</p>
}
