package dialogs

type EditMetalSheetProps struct {
	ToolID              int64
	Close               bool
	Error               string
}

templ EditMetalSheet(props *EditMetalSheetProps) {
	if props.Close {
		<script>
			// NOTE: For now, this will work just fine
			window.location.reload();
		</script>
	} else {
		// TODO: ...
	}
}
