{{ define "layout" }}
<main class="_layout base ui-debug">
    <div
        style="
            width: 100%;
            height: 100%;
            padding-top: calc(var(--ui-app-bar-height) + var(--ui-spacing));
        "
        class="ui-container ui-auto-scroll ui-hide-scrollbar"
    >
        {{ block "content" . }} {{ end }}
    </div>

    <div class="ui-app-bar" data-ui-position="top">
        <span class="ui-app-bar-left"></span>

        <span class="ui-app-bar-center">
            <span>
                <h3
                    data-name="title"
                    class="app-bar-title"
                    style="display: none"
                ></h3>
            </span>
        </span>

        <span class="ui-app-bar-right"></span>
    </div>

    <script src="{{ .ServerPathPrefix }}/js/layout-base.js"></script>
</main>
{{ end }}
