{{ define "layout" }}

<!-- NOTE: Important IDs
    - wsStateIndicator
-->

<main
    class="_layout base"
    hx-ext="ws" ws-connect="/ws/htmx"
>
    <div
        style="
            width: 100%;
            height: 100%;
            padding-top: calc(var(--ui-app-bar-height) + var(--ui-spacing));
        "
        class="ui-container ui-auto-scroll ui-hide-scrollbar"
    >
        {{ block "content" . }} {{ end }}
    </div>

    <div class="ui-app-bar" data-ui-position="top">
        <span class="ui-app-bar-left">
            <h6 id="wsStateIndicator">
                <span>OFFLINE</span>
            </h6>
        </span>

        <span class="ui-app-bar-center">
            <span>
                <h3
                    data-name="title"
                    class="app-bar-title"
                    style="{{ if not .HasSubTitle }}display: none;{{ end }}"
                >
                    {{ .SubTitle }}
                </h3>
            </span>
        </span>

        <span class="ui-app-bar-right"></span>
    </div>

    <script src="{{ .ServerPathPrefix }}/js/layout/base.js"></script>
</main>
{{ end }}
