<!-- Title -->

{{define "title"}}Registrieren{{end}}

<!-- Additional Scripts -->

{{define "additional-scripts"}}
<link rel="stylesheet" href="./css/page/login.css" />
<script src="./js/page/login.js" defer></script>
{{end}}

<!-- Nav -->

{{define "nav"}}
{{end}}

<!-- Content -->

{{define "content"}}
<main class="container">
    <form>
        <fieldset>
            <label>
                Api Key
                <input name="api-key" 
                    type="text" 
                    placeholder="Api Key" 
                    value="{{.ApiKey}}" 
                    {{if .InvalidApiKey}} aria-invalid="{{.InvalidApiKey}}" {{end}} 
                    required 
                />
            </label>
        </fieldset>

        <input type="submit" value="submit" />
    </form>
</main>
{{end}}
