<!-- Title -->

{{define "title"}}PG: Presse | Registrieren{{end}}

<!-- Additional Scripts -->

{{define "additional-scripts"}}
<link rel="stylesheet" href="./css/login.css" />
<script src="./js/login.js" defer></script>
{{end}}

<!-- Content -->

{{define "content"}}
<main class="container">
    <form>
        <fieldset>
            <label>
                Api Key
                <input
                    name="api-key"
                    type="text"
                    placeholder="Api Key"
                    required
                    value="{{.ApiKey}}"
                    {{if .InvalidApiKey}}aria-invalid="{{.InvalidApiKey}}"{{end}}
                />
            </label>
        </fieldset>

        <input type="submit" value="submit" />
    </form>
</main>
{{end}}
