hgroup > .user-name > * {
    margin: 0;
}

hgroup > .user-name {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: var(--pico-spacing);
}

#dialogErrorMessages .messages {
    display: flex;
    flex-direction: column;
    gap: var(--pico-spacing);
}
